<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Online Excel CPD, Provided by The Excel Club</h4>
    </div>
    <div class="modal-body">
        <p>When you select this option you will be brought to the Excel Club ATI Platform. Your Excel Club log in details will be sent to you by ATI in a separate email</p>
        <br />
        <p>Step 1: Select Online Excel CPD, Provided by The Excel Club</p>
        <br />
        <p>Step 2: Select Log In. Log in using the email address you have registered in your Touchpoint Account and the password sent to you by ATI in a separate email</p>
        <br />
        <p>Step 3: Open your profile, select Sign in and Security and reset your password</p>
        <br />
        <p>Step 3: <u>RETAIN YOUR LOG IN DETAILS</u></p>
        <br />
        Step 4: On the home screen you will see the full Online Excel offering including 2 FREE One Hour Excel courses and a wide selection of 2 hour and longer courses. You are entitled to complete any one of the 2 hour courses FREE
        <p>Step 5: Complete the Guide for ATI Members</p>
        <br />
        <p>Step 6: When you have decided what 2 hour course you want to complete FREE please email <a href="mailto:cpd@accountingtechniciansireland.ie">cpd@accountingtechniciansireland.ie</a> and you will be given the access</p>
        <br />
        <p>Step 7: If you wish to complete any further online Excel training you can purchase it direct via this platform</p>
        <br />
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>
