<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">KnowledgePoint</h4>
    </div>
    <div class="modal-body">
        <p>Select this option and input your Touchpoint log in details to see the full range of Accounting Technicians Ireland produced KnowledgePoint tutorials. With over 72 revision topics available for purchase it brings together the best of our face-to-face academy offerings and offers supplementary learning supports in key course areas within the Accounting Technicians Ireland qualification. We have included 5 FREE titles in your library to get you started. </p>
        <br />
        <p>            Please note this is a resource intended purely for knowledge refresh and revision purposes and does not qualify for CPD hours.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>