<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Online Accounting CPD and Bites, Provided by accountingcpd.net</h4>
    </div>
    <div class="modal-body">
        <p>When you select this option you will be brought to the accountingcpd.net ATI platform</p>
        <br />
        <p>Step 1: Select Online Accounting CPD and Bites, Provided by accountingcpd.net</p>
        <br />
        <p>Step 2: You will be taken to the accountingcpd.net website</p>
        <br />
        <p>Step 3: Follow the onscreen instructions to set up your account and gain access to the accountingcpd.net ATI platform</p>
        <br />
        <p><u>RETAIN YOUR LOG IN DETAILS</u></p>
        <br />
         <p>Step 4: When the platform launches you will see the full Online Accounting CPD accountingcpd offering. This is a selection of FREE and paid for CPD along with your CPD Bites back catalogue</p>
        <br />
        <p>Step 5: Scroll down to Select CPD Bites from the menu. You will to find the Bite of the week along with the full back catalogue available to you for FREE. Note: we will also send you a CPD Bite weekly direct to your inbox along with a direct link to your FREE 4 One hour courses</p>
        <br />
        <p>Step 6: Click CPD Courses and filter by Free Course to access your FREE 4 One hour courses</p>
        <br />
        <p>Step 7: If you wish to complete any further online Accounting CPD you can purchase it direct via this platform</p>
        <br />
        <p><u>NOTE: ALL CPD COMPLETED ON ACCOUNTINGCPD WILL BE AUTOMATICALLY LOGGED IN MYCPD</u></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>