<div class="modal-content">
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
            <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">ATI Code of Professional Ethics – 1 hour course </h4>
    </div>
    <div class="modal-body" ng-init="getData()">


        <p>Watch this video in full and read the ATI Code of Professional Ethics. </p>
        <br />
        <p><b>Note: you must watch this video in full in one sitting, you cannot exit the course and return to it at a later stage. <br> The course will take you no longer than 1 hour to complete. Make sure to screen shot and save the final slide to use as your evidence of completion.</b></p>
        <br />
        <p>On completion you can then record your 1 hour of CPD. To Record follow these steps:</p>
        <br />
        <p>Launch MyCPD</p>
        <p>Click Record MyCPD</p>
        <p>Select CPDgo from drop down</p>
        <p>Type in course title ATI Code of Professional Ethics 2019s</p>
        <p>Select course</p>
        <p>Upload evidence (screen shot of final slide of video)</p>
        <p>Submit</p>

        <video width="620" height="360" controls="controls" preload="none" id="cpdvideo1">
            <source src="http://34.248.242.178/CPDCompliance/MyCPDMultimedia/CodeofProfessionalEthics2019.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br />

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</div>