.main-content {
	padding: 150px 0 5px;
}
.portfolio-item .panel-body{
	text-align: center;
}
.side-navigation {
	position: fixed;
	z-index: 999;
	background: #fff;
	left: 0;
	top: 109px;
	width: 280px;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
	transition: -webkit-transform ease .3s;
	-o-transition: transform ease .3s;
	transition: transform ease .3s;
}
.side-navigation.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}
.c-footer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.c-footer-list li {
	border-bottom: 0;
}
.c-footer-list li a {
	padding: 15px;
}
.modal-backdrop { opacity: .5; }
.panel-primary { padding-bottom: 20px; }
