<nav-header css="headerpages" text="CPD Admin Dashboard and Library" contactus="NO" aboutus="NO"></nav-header>
<admin-sidebar></admin-sidebar>
<div class="row demo-md-panel-content">
    <div class="col-md-12">
        <div class="panel-info">
            <div class="ext-content">
                <div class="row">

                    <form class="panel panel-default" ng-submit="vm.search()" id="searchPanel" name="searchPanel" novalidate>
                        <div class="panel-heading-cpd-3"><i class="fa fa-filter" style="padding-top:10px;padding-bottom:10px;padding-left:10px;"><md-tooltip md-direction="down">Filter Record</md-tooltip></i></div>

                        <div class="shadow">
                            <div layout-gt-sm="row">
                                <div style="padding: 1rem 1rem">
                                    <div class="form-group input-group">
                                        <span class="has-float-label" style="width:590px;">
                                            <input class="form-control" ng-model="vm.pagingInfo.CourseName" type="text" placeholder="Course Name" id="courseName" >
                                            <label for="courseName">Course Name</label>
                                        </span>
                                        <span class="has-float-label" style="width:590px;">
                                            <input class="form-control" ng-model="vm.pagingInfo.LocationName" type="text" id="LocationName" placeholder="Location Name" >
                                            <label for="LocationName">Location Name</label>
                                        </span>
                                    </div>

                                    <div class="form-group input-group">
                                        <div class="has-float-label" style="width:575px;">
                                            <select class="form-control" id="courseType" ng-model="vm.selectedcbdtypes" ng-options="item.CPDTypeId as item.Description for item in vm.cbdtypes"></select>
                                            <label for="courseType">CPD Type</label>
                                        </div>

                                        <div class="has-float-label" style="width:575px;">
                                            <p class="input-group">
                                                <input type="text" class="form-control" name="courseDate" placeholder="Enter Start Date" ng-model="vm.pagingInfo.StartDate" my-date-picker end-date="+3y" />
                                                <span class="input-group-addon" data-toggle="datepicker">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </p>
                                            <label for="courseDate">Enter Start Date</label>
                                        </div>
                                   </div>


                                    <div class="form-group input-group">
                                        <div class="has-float-label" style="width:560px;">
                                            <select class="form-control" id="host" ng-model="vm.HostId" ng-options="item.ID as item.Name for item in vm.hosts"></select>
                                            <label for="host">Host</label>
                                        </div>
                                    </div>


                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <button class="btn btn-primary" style="margin-left:40px;margin-bottom:10px;"><span class="glyphicon glyphicon-search"></span> Search</button>
                                            <button class="btn btn-primary" ng-click="vm.clear()" style="margin-left:10px;margin-bottom:10px;"><span class="glyphicon glyphicon-remove-sign"></span> Clear</button>
                                        </div>
                                    </div>
                            </div>

                        </div>
                    </form>


                </div>
                <div class="row">
                    <button type="button" class="btn btn-danger btn-circle btn-lg" tooltip ng-click="vm.print()" title="Print">
                        <i class="fa fa-print"></i>
                    </button>
                    <button type="button" class="btn btn-warning btn-circle btn-lg" pdf-save-button="idOne" pdf-name="Admin-Lib.pdf" title="Download Pdf" tooltip>
                        <i class="fa fa-download"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-circle btn-lg" title="Download Excel" tooltip ng-click="vm.DownloadExcel()">
                        <i class="fa fa-file-excel-o" style="font-size:17px"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-circle btn-lg" ng-click="vm.showAdvanced($event,null,'ADD')" title="ADD Course" tooltip>
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div pdf-save-content="idOne">
            <!--<table-List url="app/lib/tablelist/list-item-partial-cpdr-admin.html" model="vm.cpdrecords" paging="vm.pagingInfo" config="vm.configuration" pagefunc="vm.pagefunction(page)" sortfunc="vm.sortfunction(column,order)" actionfunc="vm.actionfunc(arg,row)" ng-if="vm.cpdrecords != null"></table-List>-->

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed" id="cpdtable">
                    <thead>
                        <tr class="header">
                            <th></th>
                            <th><a href="" ng-click="vm.sort('CourseName')">Course Name</a></th>
                            <th><a href="" ng-click="vm.sort('Expr1')">Location</a></th>
                            <th><a href="" ng-click="vm.sort('Name')">Host</a></th>
                            <th><a href="" ng-click="vm.sort('Venue')">Venue</a></th>
                            <th><a href="" ng-click="vm.sort('DurationHours')">Duration</a></th>
                            <th><a href="" ng-click="vm.sort('Description')">Type</a></th>
                            <th><a href="" ng-click="vm.sort('StartDate')">Start Date</a></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.libraryinfo" ng-class="row.Active == false || row.Active == null ? 'overlay' : ''">
                            <td><img ng-src="{{row.ImagePath}}" class="img-responsive center-block" alt="" width="30" height="30" title="{{row.Description}}" tooltip /></td>
                            <td>{{row.CourseName}}</td>
                            <td>{{::row.Expr1}}</td>
                            <td>{{::row.Name}}</td>
                            <td>{{::row.Venue}}</td>
                            <td>
                                {{row.DurationHours > 0 ? row.DurationHours + 'h' :''}}
                                {{row.DurationMins > 0 ? row.DurationMins + 'm' :'' }}
                            </td>
                            <td>{{::row.Description}}</td>
                            <td>{{row.StartDate | dateformat }}</td>
                            <td>
                                <i class="fa fa-pencil" style="font-size:20px;cursor:pointer" ng-click="vm.showAdvanced(null, row, 'UPDATE')" title="Edit Course" tooltip></i>
                            </td>
                            <td ng-show="row.Active == true">
                                <i class="fa fa-file-archive-o" style="font-size:20px;cursor:pointer" ng-click="vm.updateCourse(row, false)" title="Archive Course" tooltip><md-tooltip md-direction="down">Archive Course</md-tooltip></i>
                            </td>
                            <td ng-show="row.Active == false || row.Active == null">
                                <i class="fa fa-flickr" style="font-size:20px;cursor:pointer" ng-click="vm.updateCourse(row, true)" title="Live Course" tooltip><md-tooltip md-direction="down">Live Course</md-tooltip></i>
                            </td>
                        </tr>
                        <tr ng-if="!vm.loadingLibrarydata && vm.totalItems == '0'">
                            <td colspan="8">No Records Found</td>
                        </tr>
                    </tbody>
                </table>

                <pagination page="vm.pagingInfo.page"
                            total-items="vm.totalItems"
                            items-per-page="vm.pagingInfo.pageSize"
                            on-select-page="vm.selectPage(page)"
                            max-size="10"
                            rotate="false"
                            boundary-links="true"></pagination>

            </div>


        </div>
    </div>
</div>

